# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide
#
web-sde-server : RAND_REPLACE : web-sde-server:/sde_configuration.sh : RAND_INT : 1 : 10
web-sde-server : RAND_REPLACE : web-sde-server:/update.sh : RAND_INT1 : 1 : 5
web-sde-server : RAND_REPLACE : web-sde-server:/update.sh : RAND_INT2 : 1 : 5
web-sde-server : RAND_REPLACE : web-sde-server:/update.sh : RAND_INT3 : 1 : 20
