# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in modifing feedback that was not there own. 
_feedback  = boolean : (feedback  and feedback)
#DOC: Assess if the learner was successful in accessing a user account who was purged from the system, thus showing the gdpr violation. 
_gdpr_violation = boolean : (gdpr_violation and gdpr_violation)
#DOC: Assess if the learner was successful in resetting without the end user being prompted.
_reset_bjoern = boolean : (reset_bjoern and reset_bjoern)
