# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in forging a token.
_forgotten = boolean : (forgotten and forgotten)
#DOC: Assess if the learner was able to login as user admin.
_login_admin = boolean  : (login_admin and login_admin)

