# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in resetting a password without the end user being notified.
_password = boolean : (password and password)
#DOC: Assess if the learner was successful in logging into the server as admin without having the password.
_login_admin = boolean : (login_admin and login_admin)
#DOC: Assess if the learner was successful in logging into the server as jim without having the password.
_login_jim = boolean : (login_jim and login_jim) 

