# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in accessing a file left on the server by accident 
_forgotten_dev_file = boolean : (forgotten_dev_file and forgotten_dev_file)
#DOC: Assess if the learner was successful in accessing a file left on the server by accident 
_misplaced_sig = boolean : (misplaced_sig and misplaced_sig)
#DOC: Assess if the learner was successful in retreiving a password. 
_password_str = boolean : (password_str and password_str)      
