# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in retreiving a password. 
_password_str = boolean : (password_str and password_str)  
#DOC: Assess if the learner was able to login as user admin.
_login_admin = boolean  : (login_admin and login_admin)
#DOC: Assess if the learner was successful in logging into the server as jim without having the password.
_login_jim = boolean : (login_jim and login_jim) 

