# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Assess if the learner was successful in generating an error.
_error = boolean : (error and error)
#DOC: Assess if the learner was able to login as user admin.
_login_admin = boolean  : (login_admin and login_admin)
#DOC: Assess if the learner was able to modify feedback that was not there own. 
_feedback = boolean : (feedback and feedback)
#DOC: Assess if the learner was able to access the admin section of the store.
_admin_section = boolean : (admin_section and admin_section)
