# parameter.config
# 
# Please see the Labtainer Designer Lab Designer User Guide

web-inject-server : RAND_REPLACE : web-inject-server:/home/ubuntu/update.sh : RAND_INT1 : 1 : 5
web-inject-server : RAND_REPLACE : web-inject-server:/home/ubuntu/update.sh : RAND_INT2 : 1 : 5
web-inject-server : RAND_REPLACE : web-inject-server:/home/ubuntu/update.sh : RAND_INT3 : 1 : 20
