# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in accessing a log file they should have access to 
_access_log = boolean : (access_log and access_log)
#DOC: Assess if the learner was successful in generating an error.
_error_handling = boolean : (error_handling and error_handling)
#DOC: Assess if the learner was successful in logging into the server as admin without having the password.
_login_admin = boolean : (login_admin and login_admin)
